<app-navbar></app-navbar>
<div class="container pt-5">
  <h1>This is DashBoard</h1>

  <div
    class="row"
    infinite-scroll
    [infiniteScrollDistance]="scrollDistance"
    [infiniteScrollUpDistance]="scrollUpDistance"
    [infiniteScrollThrottle]="throttle"
    (scrolled)="onScroll()"
  >
    <div *ngFor="let book of books" class="col-md-6 col-12 col-lg-4">
      <div class="book p-4 rounded mt-5">
        <img
          src="https://cdn2.vectorstock.com/i/1000x1000/67/81/bookmark-icon-outline-book-mark-vector-42676781.jpg"
          alt=""
          srcset=""
        />
        <h1 class="text-warning">{{ book.description }}</h1>
        <h3 class="my-4">{{ book.title }}</h3>
      </div>
    </div>
  </div>
</div>
